#core{
	padding: 3%;
}
.soft-text-box{
	width: 53%;
}
.soft-pic{
	width: 17.9%;
}
.soft-descript{
	margin-left: 0;
}
.soft-text-box{
	margin-left: 4.3%;
	margin-right: 4.3%;
}
.learn-more{
	color: #fff;
}